#V3_Foot_An1{
	background-image: url(../images/v3/loginbar-animate/ie8/1.png);
}
#V3_Foot_An2{
	background-image: url(../images/v3/loginbar-animate/ie8/2.png);
}
#V3_Foot_An3{
	background-image: url(../images/v3/loginbar-animate/ie8/3.png);
}
#V3_Foot_An4{
	background-image: url(../images/v3/loginbar-animate/ie8/4.png);
}