/**********************顶部公用样式**************************/
*,:after,:before {box-sizing: border-box;}
*{margin: 0px; padding: 0px;}
html {font-size: 10px;    -webkit-tap-highlight-color: rgba(0,0,0,0);}
body {padding:0px; margin:0px; font-family: Microsoft Yahei,Open Sans,Lantinghei SC,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif; font-size: 14px; line-height: 1.42857;  color: #43464f; background-color: #fcfcfc;}
button,input,select,textarea {font-family: inherit;    font-size: inherit;    line-height: inherit;}
a {color: #0fbbe9;    text-decoration: none;}
a {    text-decoration: none!important;    cursor: pointer;    transition: color .3s;background-color: transparent;}
a:focus,a:hover {color: #fd6600;    text-decoration: underline;}
a:focus {outline: 5px auto -webkit-focus-ring-color;    outline-offset: -2px;}
figure {margin: 0;}
img {vertical-align: middle;}
img {    border: 0;}
.img-responsive {display: block;    max-width: 100%;    height: auto;}
.img-rounded {border-radius: 0;}
.img-thumbnail {padding: 4px;    line-height: 1.42857;    background-color: #fff;    border: 1px solid #ddd;    border-radius: 0;    transition: all .2s ease-in-out;    display: inline-block;    max-width: 100%;    height: auto;}
.img-circle {border-radius: 50%;}
hr {margin-top: 20px;    margin-bottom: 20px;    border: 0;    border-top: 1px solid #eee;}
.sr-only {position: absolute;    width: 1px;    height: 1px;    margin: -1px;    padding: 0;    overflow: hidden;    clip: rect(0,0,0,0);    border: 0;}
.sr-only-focusable:active,.sr-only-focusable:focus {position: static;    width: auto;    height: auto;    margin: 0;    overflow: visible;    clip: auto;}
[role=button] {cursor: pointer;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {font-family: inherit;    font-weight: 300;    line-height: 1.1;    color: inherit;}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {font-weight: 400;    line-height: 1;    color: #777;}
.h1,.h2,.h3,h1,h2,h3 {margin-top: 20px;    margin-bottom: 10px;}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small {font-size: 65%;}
.h4,.h5,.h6,h4,h5,h6 {margin-top: 10px;    margin-bottom: 10px;}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {font-size: 75%;}
.h1,h1 {font-size: 36px;}
.h2,h2 {font-size: 30px;}
.h3,h3 {font-size: 24px;}
.h4,h4 {font-size: 18px;}
.h5,h5 {font-size: 16px;}
.h6,h6 {font-size: 12px;}
p {margin: 0 0 10px;}
.small, small {    font-size: 85%;}
ul,li,ol{list-style-type: none; padding: 0px; margin: 0px;}
a { text-decoration:none;}
.clear { zoom:1;    clear:both;}
/**********************顶部公用样式end**************************/
/*********************************头部**********************************/
.container {    width: 1170px;    margin-right: auto;    margin-left: auto;    padding-left: 15px;    padding-right: 15px;}
.container:after, .container:before {    content: " ";    display: table;}
.container:after {    clear: both;}
.row {    margin-left: -15px;    margin-right: -15px;}
.col-xs-24 {    width: 100%;    float: left;    position: relative;    min-height: 1px;    padding-left: 15px;    padding-right: 15px;}
.pull-left {    float: left!important;}
.app-top-bar {    border-bottom: 1px solid #eaedf4;    background-color: #fcfcfc;    line-height: 35px;}
.app-top-bar .nav-link+.nav-link {    margin-left: 20px;}
.app-top-bar .nav-link {    color: #7a808f;    display: inline-block;    vertical-align: top;}
.app-top-bar .nav-link:hover,.app-top-bar .nav-link a:hover {    color: #fd6600;}
.app-top-bar .nav-link>.dropdown-menu {    margin-top: 0;}
.app-top-bar .nav-link .user-name {    max-width: 120px;    display: inline-block;    vertical-align: top;}
.app-top-bar .dropdown-menu li a {    color: #7a808f;}
.app-top-bar .nav-link>.dropdown-menu {    margin-top: 0;}
.open>.dropdown-menu {    display: block;}
.dropdown-menu {    box-shadow: 5px 5px hsla(0,0%,40%,.1);}
.dropdown-menu {    position: absolute;    top: 100%;    left: 0;    z-index: 1000;    display: none;    float: left;    min-width: 160px;    padding: 5px 0;    margin: 2px 0 0;    list-style: none;    font-size: 14px;    text-align: left;    background-color: #fff;    border: 1px solid #ccc;
    border: 1px solid #eaedf4;    border-radius: 0;    box-shadow: 0 6px 12px rgba(0,0,0,.175);    background-clip: padding-box;}
.pull-right {    float: right!important;}
.app-search-bar {    background-color: #fcfcfc;    position: relative;}
.app-search-bar .app-header-search>.left {    width: 130px;    height: 90px;    position: absolute;    margin-right: -130px;    padding-top: 24px;}
.app-search-bar .app-header-search>.left>.logo-link {    height: 42px;    display: inline-block;}
.app-search-bar .app-header-search>.middle {    float: left;    width: 100%;}
.app-search-bar .app-header-search>.middle .search { width: 500px;   float: right; margin: 30px 0px 28px 0px;    padding-left: 50px;    padding-right: 0px;}
.input-group {    position: relative;    display: table;    border-collapse: separate;}
.twitter-typeahead {    display: table!important;    transition: all .03s;    width: 100%;}
.app-search-btn>.twitter-typeahead>input.form-control {    border-right: 0;}
.input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn1, .input-group-btn:first-child>.btn2, .input-group-btn:first-child>.btn3, .input-group-btn:first-child>.btn4, .input-group-btn:first-child>.btn5, .input-group-btn:first-child>.btn-cancel, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.btn-group>.btn1, .input-group-btn:first-child>.btn-group>.btn2, .input-group-btn:first-child>.btn-group>.btn3, .input-group-btn:first-child>.btn-group>.btn4, .input-group-btn:first-child>.btn-group>.btn5, .input-group-btn:first-child>.btn-group>.btn-cancel, .input-group-btn:first-child>.btn-group>.btn-link, .input-group-btn:first-child>.btn-link, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn1:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn2:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn3:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn4:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn5:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-cancel:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn1, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn2, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn3, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn4, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn5, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-cancel, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn-link, .input-group-btn:last-child>.btn-link:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group .form-control:first-child {
    border-bottom-right-radius: 0;    border-top-right-radius: 0;}
.twitter-typeahead .tt-hint {    color: #999;}
.twitter-typeahead>.form-control {    margin: 0!important;}
.input-group-addon, .input-group-btn, .input-group .form-control {    display: table-cell;}
.form-control {    width: 100%;    height: 34px;    padding: 6px 12px;    background-color: #fff;    background-image: none;    border: 1px solid #ccc;    border-radius: 0;    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.form-control, output {    display: block;    font-size: 14px;    line-height: 1.42857;    color: #555;}
button, input, optgroup, select, textarea {    color: inherit;    font: inherit;    margin: 0;}
.input-group .form-control {    position: relative;    z-index: 2;    float: left;    width: 100%;    margin-bottom: 0;}
.input-group {    position: relative;    display: table;    border-collapse: separate;    width: 100%;}
.app-search-btn .search-btn {    background-color: #0fbbe9;    border: 1px solid #0fbbe9;    border-left: 0;    color: #fff;    cursor: pointer;    transition: all .3s;}
.input-group-addon:last-child, .input-group-btn:first-child>.btn1:not(:first-child), .input-group-btn:first-child>.btn2:not(:first-child), .input-group-btn:first-child>.btn3:not(:first-child), .input-group-btn:first-child>.btn4:not(:first-child), .input-group-btn:first-child>.btn5:not(:first-child), .input-group-btn:first-child>.btn-cancel:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn1, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn2, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn3, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn4, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn5, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-cancel, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn-link, .input-group-btn:first-child>.btn-link:not(:first-child), .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn1, .input-group-btn:last-child>.btn2, .input-group-btn:last-child>.btn3, .input-group-btn:last-child>.btn4, .input-group-btn:last-child>.btn5, .input-group-btn:last-child>.btn-cancel, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.btn-group>.btn1, .input-group-btn:last-child>.btn-group>.btn2, .input-group-btn:last-child>.btn-group>.btn3, .input-group-btn:last-child>.btn-group>.btn4, .input-group-btn:last-child>.btn-group>.btn5, .input-group-btn:last-child>.btn-group>.btn-cancel, .input-group-btn:last-child>.btn-group>.btn-link, .input-group-btn:last-child>.btn-link, .input-group-btn:last-child>.dropdown-toggle, .input-group .form-control:last-child {
    border-bottom-left-radius: 0;    border-top-left-radius: 0;}
.input-group-addon {    padding: 6px 12px;    font-size: 14px;    font-weight: 400;    line-height: 1;    color: #555;    text-align: center;    background-color: #eee;    border: 1px solid #ccc;    border-radius: 0;}
.input-group-addon, .input-group-btn {    width: 1%;    white-space: nowrap;    vertical-align: middle;}
.input-group-addon, .input-group-btn, .input-group .form-control {    display: table-cell;}
.icon {    font-family: qixin!important;    speak: none;    font-variant: normal;    text-transform: none;    line-height: 1;}
.icon-search:before {    content: "\E950";}
.icon {    -moz-osx-font-smoothing: grayscale;    -webkit-font-smoothing: antialiased;    font-stretch: normal;    font-style: normal;    font-variant-caps: normal;    -webkit-font-variant-ligatures: normal;    font-variant-ligatures: normal;    font-variant-numeric: normal;    font-weight: 400;    text-rendering: auto;}
.form-control:focus {    border-color: #51d1f4;    outline: 0;    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81,209,244,.6);}
.form-control::-moz-placeholder {    color: #999;    opacity: 1;}
.form-control:-ms-input-placeholder {    color: #999;}
.form-control::-webkit-input-placeholder {    color: #999;}
.form-control::-ms-expand {    border: 0;    background-color: transparent;}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {    background-color: #eee;    opacity: 1;}
.form-control[disabled],fieldset[disabled] .form-control {    cursor: not-allowed;}
textarea.form-control {    height: auto;}
input[type=search] {    -webkit-appearance: none;}

/*********************************头部end**********************************/
.menu {width: 100%;height: 42px;border-bottom: 2px solid #128bed;border-top:1px solid #ECECED;}
.menu_box{width:1200px; margin:0 auto;}
.menu_box .header_menu{width:190px; height:42px; float:left; margin-right:5px; position:relative;  z-index:9999999;}
.menu_box .header_menu .tit{color:#fff; height:41px; line-height:42px; background:url(../images/index_list.png) no-repeat #128bed 37px 15px; padding-left:65px; font-size:16px;}
.menu .menu_list{ float:left;}
.menu .menu_list .on a{background-color:#aa0000;color:#fff;width:100px;padding:0;margin-right: 14px;}
.menu .menu_list li{ float:left;}
.menu .menu_list li a{color: #666; padding: 0 17px;height:40px;line-height:42px;text-align:center;display:inline-block;font-size:16px;}
.menu .menu_list1 li a{padding: 0 12px;height:40px;line-height:42px;text-align:center;display:inline-block;font-size:16px;}
.menu .menu_list li a:hover,.menu ul li.cur{ background:#aa0000; text-decoration:none; color:#fff;}
.path{ width:1200px; margin:0 auto; height:40px; line-height:40px; margin-bottom: 3px;background: url("../images/crumbs_pic.gif") #fff no-repeat ; background-position: left 5px top 12px; }
.path p{margin-left: 25px;}
.main{width:1200px; margin: 0 auto; clear: both; background: #fff;}
/*****************************/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
#company-top {
    margin-bottom: -2px;
}
.nheader {
    position: relative;
}
.n-s {
    box-shadow: none;
}
.b-a {
    border: 1px solid #eaeef1;
}
.padder {
    padding-left: 15px;
    padding-right: 15px;
}
.panel {
    border-radius: 0px;
}
.nheader .logo {
    float: left;
    width: 102px;
    text-align: center;
    height: 102px;
    overflow: hidden;
    border-radius: 8px;
}

.nheader .imgkuang {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    border: solid 1px #f0f0f0;
    border-radius: 8px;
}
.nheader .imgkuang img {
    width: 100px;
    border-radius: 8px;
}
.m-t-xs {
    margin-top: 5px;
}
.btn-nrenzheng {
    display: block;
    position: absolute;
    z-index: 5;
    background-image: url(../images/btn_nrenzheng.png);
    background-size: 100px 24px;
    width: 100px;
    height: 24px;
    margin-left: 0px;
    margin-top: 6px;
}
.nheader .content {
    float: left;
    width: 1020px;
    margin-left: 50px;
    font-size: 14px;
    color: #000;
}
.nheader .content .row.title {
    margin-top: -2px;
    margin-bottom: 10px;
}

#company-top .title h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    line-height: 31px;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    font-weight: 600;
    width: 635px;
}
.nstatus {
    font-weight: normal;
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}
.nheader .nstatus {
    position: relative;
    top: -2px;
    left: 8px;
    margin-left: 3px;
    cursor: default;
}