/****************index**************/
.conta {    width: 1200px;    margin: 0 auto;    clear: both;}
.fine-left {    padding: 0 15px;    width: 1170px;    background: #fff;    height: 486px;}
.f-l {    float: left;}
.f-r {    float: right;}
.fine-left-top {    padding: 0 15px;    height: 50px;    border-bottom: 1px solid #efefef;    margin-bottom: 16px;    background: #fff;}
.fine-left-top h4{    font-size: 16px;    color: #333;    line-height: 50px;    margin:0;}
.fine-left-top ul li{    margin-left: 27px;}
.fine-left-top ul li a{    line-height: 50px;    color: #bbb;}
.fine-left-top ul li a:hover{    color: #CC0000;}
.opactive a{    color: #fe0000!important;}
.fine-left-bottom{    /*height: 400px;*/    overflow: hidden;}
.fine-left-bottomL{    width: 260px;    height: 400px;    overflow: hidden;}
.fine-left-bottomL ul li{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a img{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a img:hover{    opacity: 0.6;}
.fine-left-bottomL ul .li-first{    width: 260px;    height: 242px;}
.fine-left-bottomL ul .li-first a{    width: 260px;    height: 242px;}
.fine-left-bottomL ul .li-first a img{    width: 260px;    height: 242px;}
.fine-left-bottomL ul li:hover a img{    display: block;}
.fine-left-bottomL{    width: 260px;    height: 400px;    overflow: hidden;}
.fine-left-bottomL ul li{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a img{    width: 80px;    height: 68px;}
.fine-left-bottomL ul li a img:hover{    opacity: 0.6;}
.fine-left-bottomL ul .li-first{    width: 260px;    height: 242px;}
.fine-left-bottomL ul .li-first a{    width: 260px;    height: 242px;}
.fine-left-bottomL ul .li-first a img{    width: 260px;    height: 242px;}
.fine-left-bottomL ul li:hover a img{    display: block;}
.li-first{    position: relative;}
.fine-left-bottomL ul{    width: 270px;}
.fine-left-bottomL ul li{    margin-right:10px;    margin-bottom: 6px;}
.fine-left-bottomR{    width: 895px;    overflow: hidden;}
.fine-left-bottomR ul{}
.fine-left-bottomR ul li{    margin-right: 10px;    height: 190px;    width: 168px;    margin-bottom: 10px;}
.fine-left-bottomR ul li p{    width: 100%;    font-size: 12px;    margin:0;    line-height: 24px;    position: relative;}
.fine-left-bottomR ul li a{    overflow: hidden;    width: 174px;    height: 140px;}
.fine-left-bottomR ul li a img{    width: 174px;    height: 140px;}
.fine-left-bottomR ul li p span{    color: #ff3333;}
.fine-left-bottomR ul li p .sq{    font-size: 16px;    margin-left: 3px;}
.fine-left-bottomR ul li p a{    position: absolute;    top: 3px;    right: 4px;    line-height: 20px;    height: 20px;    width: 64px;    background: url("../images/icon11.png") no-repeat;    padding-left:12px;    color: #fff;    background-size: 74px 20px;}
.fine-left-bottomR ul li:hover p a{    color: #fff!important;    position: absolute;    top: 3px;    right: 4px;    line-height: 20px;    height: 20px;    width: 64px;    padding-left:12px;    color: #fff;    background: url("../images/icon13-hover.png") no-repeat;    background-size: 74px 20px;}
.fine-left-bottomR ul li:hover a img{    opacity: 0.6;}
.fine-right {    width: 290px;    padding: 0 15px;    background: #fff;    height: 486px;}
.fine-right-nav{    height: 50px;    border-bottom: 1px solid #efefef;}
.fine-right-nav h4{    font-size: 16px;    color: #333;    line-height: 50px;    margin:0;}
.fine-right-nav a{    line-height: 50px;    color: #999;}
.fine-right-nav a:hover{    color: #CC0000;}
.f-li li {    float: left;}
.fourth_floor { width:1200px; margin:0 auto; display:block; clear:both; background:#fff;}
.fourth_floor_t { height:40px; line-height:40px; border-bottom:2px solid #f7f7f7;}
.fourth_floor_t b { font-size:16px; color:#cc0000; width:70px; padding-left:15px; height:40px; border-bottom:2px solid #aa0000; display:inline-block;}
.fourth_floor_b { width:1199px; height:558px; border-left:1px solid #f0f0f0; border-right:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;}
.fourth_floor_b_b { width:570px; height:257px; border-bottom:2px dotted #dbd9d9; margin:0 0 0 20px; padding:20px 0 0 0; float:left; overflow:hidden; display:inline;}
.fourth_floor_b_b:nth-child(4) { border:none;}
.fourth_floor_b_b:nth-child(3) { border:none;}
.fourth_floor_b_b_t { background:#f5f5f5; height:40px; overflow:hidden;}
.x_canyin { background:url(../images/title_cyms.jpg) no-repeat; display:block; width:120px; height:40px; float:left; padding-left:40px; line-height:40px; color:#fff;}
.x_jiaoyu { background:url(../images/title_teach.jpg) no-repeat; display:block; width:120px; height:40px; float:left; padding-left:40px; line-height:40px; color:#fff;}
.x_muying { background:url(../images/title_mysh.jpg) no-repeat; display:block; width:120px; height:40px; float:left; padding-left:40px; line-height:40px; color:#fff;}
.x_qiche { background:url(../images/title_qcyh.jpg) no-repeat; display:block; width:120px; height:40px; float:left; padding-left:40px; line-height:40px; color:#fff;}
.x_canyin:hover { color:#aa0000;}
.fourth_floor_b_b_h { font-size:14px; color:#a67171; line-height:28px;}
.fourth_floor_b_b_h a { font-size:14px; color:#a67171; line-height:40px; padding-right:5px;}
.fourth_floor_b_b_h a:hover { color:#ff0000;}
.fourth_floor_b_b_pic ul { margin-top:10px;}
.fourth_floor_b_b_pic ul li { float:left; border:1px solid #dedede;}
.fourth_floor_b_b_pic ul li:nth-child(2) { margin:0 15px;}
.fourth_floor_b_b_pic ul li img { width:178px; height:114px; margin:0; padding:0;}
.fourth_floor_b_b_pic ul li img:hover { color:#ccc; opacity:0.6;}
.fourth_floor_b_b_pic_title {  text-align:center; background:#eee;}
.fourth_floor_b_b_pic_title a { font-size:14px; line-height:31px; color:#666;}
.fourth_floor_b_b_pic_title a:hover { color:#ff0000;}
.fourth_floor_b_b_link { padding:16px 0 0; margin:0; font-size:12px; overflow:hidden; line-height:26px; clear:both;}
.fourth_floor_b_b_link a { display:inline; color: #666;}
.fourth_floor_b_b_link span { padding-left:5px;}
.first_floor_l_t_more a {    color: #8c8c8c !important;    font-size: 12px;    font-weight: normal;}
.first_floor_l_t_more {    float: right;    padding-right: 10px;}
.bg-f5 { background-color: #f5f5f5; }
.bg-ff { background-color: #fff; }
.box-shadow { box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05); }
.jm-nav {    background: url("../images/biaoti_bg_c31d9f3.png") no-repeat center 70px;    padding: 55px 0 39px;    font-size: 28px;    line-height: 32px;    text-align: center;}
.w1200 {    width: 1200px;    margin-left: auto;    margin-right: auto;}
.nav-h30-line-oe {    position: relative;    padding-left: 15px;}
.nav-h30 {    height: 30px;    line-height: 30px;}
.nav-h30 h3.f22 {    font-size: 22px;}
.nav-h30 h3 {    float: left;}
.s-c59 {    color: #595959;}
.mt10 {    margin-top: 10px;}
.tw-list-h72 li {    height: 72px;}
.tw-list li {    padding: 15px 0;}
.tw-list li .img-block {    float: left;    width: 110px;    height: 72px;    overflow: hidden;    margin-right: 20px;}
.tw-list li .f16 {    height: 20px;    overflow: hidden;}
.f16 {    font-size: 16px;}
.tw-list-h72 li .f14 {    height: 48px;}
.tw-list li .f14 {    line-height: 24px;    max-height: 48px;    overflow: hidden;    margin-top: 9px;}
.s-8c {    color: #8c8c8c;}
.img-block.h253 {    height: 253px;    overflow: hidden;}
.magnify-txt {    position: relative;}
.img-bg {    position: absolute;    left: 0;    top: 60%;    right: 0;    bottom: 0;    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);}
.magnify-txt p {    position: absolute;    left: 0;    right: 0;    bottom: 0;    z-index: 10;    transition: all .25s linear;    color: #fff;    text-align: center;}
.img-block.h253 p {    padding: 13px 10px;    font-size: 16px;    color: #fff;    text-align: center;}
.gl-list li {    float: left;    width: 178px;    height: 105px;}
.gl-list li a {    display: block;    height: 85px;    padding-top: 20px;    background-color: #f2f2f2;    transition: all .25s linear;    font-size: 16px;    text-align: center;    position: relative;}
.icon-all {    display: inline-block;    background: url("../images/icon-all_888ef89.png") no-repeat;    vertical-align: middle;}
.gl-list li a .icon-all {    display: block;    margin: auto;    margin-bottom: 15px;}
.i-a22 {    background-position: -215px -20px;}
.i-a16, .i-a17, .i-a18, .i-a19, .i-a20, .i-a21, .i-a22, .i-a23, .i-a24, .i-a25 {    width: 32px;    height: 32px;}
.nav-h30-line-oe {    position: relative;    padding-left: 15px;}
.nav-h30 {    height: 30px;    line-height: 30px;}
.nav-h30 h3.f22 {    font-size: 22px;}
.nav-h30 h3 {    float: left;}
.mt25 {    margin-top: 25px;}
.wz-list dd {    height: 36px;    line-height: 36px;    text-overflow: ellipsis;    white-space: nowrap;}
.wz-list dd a {    font-size: 16px;text-overflow: ellipsis;    white-space: nowrap;    width: 280px;    overflow: hidden;}
.zs-bot {    height: 36px;    padding: 23px 0 50px;}
.tc {    text-align: center;}
.zs-bot .btn {    display: inline-block;    width: 128px;    height: 34px;    line-height: 34px;    margin: 0 10px;}
.bg-ff a{ color: #262626;}
.s-oe {    color: #ff552e !important;}
.wz-list dt .f24 {    font-size: 24px;    line-height: 36px;    height: 36px;    overflow: hidden;}
.s-8c {    color: #8c8c8c;}
.wz-list dt {    margin-bottom: 13px;}
.wz-list dd a {    font-size: 16px;}
.nav-h30 h3.f22 {    font-size: 22px;    font-weight: 500;}
.nav-h30-line-oe {    position: relative;    padding-left: 15px;}
.nav-h30 {    height: 30px;    line-height: 30px;}
.gl-list li a:hover {    background-color: #fff;    box-shadow: 0 15px 24px 0 rgba(0,0,0,.08);    transform: translateY(-10px);}
.ysbh{    padding:0 0 20px 0 ;    background: #fff;}
.ysbh .content{    background: #fff;    padding: 0 15px;}
.ysbh .content .fine-left-bottom p{    padding-bottom: 10px;}
/*友情链接*/
.yqlj_item {    float: left;    width: 1170px;}
.yqlj_item  li {    float: left;    width: 18%;    margin: 0 1% 15px 1%;    font-size: 12px;    height: 56px;    line-height: 56px;    text-align: left;    background: #fff;    border-radius: 2px;    -webkit-transition: all 0.3s;    -moz-transition: all 0.3s;    transition: all 0.3s;}
.yqlj_item li a {    display: block;    width: 100%;    height: 100%;}
.yqlj_item i {    display: inline-block;    width: 4px;    height: 4px;    margin: 0 3px 3px 0;    overflow: hidden;    background: red;}
.nav-h30-line-oe:after {    position: absolute;    left: 0;    top: 6px;    width: 6px;    height: 18px;    background-color: #ff552e;    content: '';}
.crunchies-list li {    float: left;    margin-top: 30px;    margin-right: 20px;    width: 175px;}
.crunchies-list li a {    display: block;    border-radius: 2px;    overflow: hidden;    -webkit-transition: all .25s linear;    transition: all .25s linear;    color: #262626;}
.crunchies-list img {    display: block;    width: 175px;    height: 175px}
.crunchies-list p {    height: 56px;    line-height: 56px;    overflow: hidden;    background-color: #fff;    text-align: center;    font-size: 16px}
.crunchies-list li a:hover {    box-shadow: 0 15px 24px 0 rgba(0,0,0,.1);    -webkit-transform: translateY(-10px);    transform: translateY(-10px)}
.fourth_floor_b .fourth_floor_b_b .fourth_floor_b_b_t a.x_canyin, .fourth_floor_b .fourth_floor_b_b .fourth_floor_b_b_t  a.x_jiaoyu, .fourth_floor_b .fourth_floor_b_b .fourth_floor_b_b_t .x_muying,.fourth_floor_b .fourth_floor_b_b .fourth_floor_b_b_t  a.x_qiche{color: #fff;}
.index_brandinfo{    text-align: center; display: inline-block;    background: #eee; width: 174px; height: 30px; padding-top: 5px;}
.index_brandinfo a{display: inline;}